<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/3.6-ejb3-controleChamados-EntityBean/ejbModule/br/com/fiap/ejb/entity/cliente/ChamadoEntityTeste.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.fiap.ejb.entity.cliente.ChamadoEntityTeste"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="3.6-ejb3-controleChamados-EntityBean"/>
</launchConfiguration>
